<!doctype html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
	<head>
	<meta charset="UTF-8"/>
	<title>this is home page</title>
	</head>
	<body>
		<section>
			<div class="card mx-3">
				<div class="card-body">
					<h1 class="text-center">Update Your Contact</h1>
					<div class="container-fluid mt-1">
						<div class="row">
							<div class="col-md-10 offset-md-1">
								<form action="#"
									  th:object="${contact}" 
									  enctype="multipart/form-data" 
									  method="POST" 
									  th:action="@{/user/process-update}" 
									  class="mt-2"	
								>
								
								<input type="hidden" th:value="${contact.cId}" name="cId"/>
								
								<div class="input-group">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									<input th:value="${contact.name}" required type="text" id="firstName" name="name" placeholder="Enter Name here" class="form-control"/>
								</div>
								
								<div class="input-group mt-3">
										<div class="input-group-text">
											<i class="fa fa-user"></i>
										</div>
									<input th:value="${contact.secondName}" required type="text" id="secondName" name="secondName" placeholder="Enter Nick Name here" class="form-control"/>
								</div>
								
								<div class="input-group mt-3">
										<div class="input-group-text">
											<i class="fa fa-phone"></i>
										</div>
									<input th:value="${contact.phone}" required type="number" id="firstName" name="phone" placeholder="Enter Phone Number here" class="form-control"/>
								</div>
								
								<div class="input-group mt-3">
										<div class="input-group-text">
											<i class="fa fa-envelope"></i>
										</div>
									<input th:value="${contact.email}" required type="email" id="email" name="email" placeholder="Enter Email here" class="form-control"/>
								</div>
								
								<div class="input-group mt-3">
										<div class="input-group-text">
											<i class="fa fa-briefcase"></i>
										</div>
									<input th:value="${contact.work}" required type="text" id="work" name="work" placeholder="Enter Work here" class="form-control"/>
								</div>
								
								<div class="form-group mt-3">
									<textarea th:text="${contact.description}" name="description" id="mytextarea" rows="10" class="form-control" placeholder="Enter Contact Description"></textarea>
								</div>
								
								<div class="container text-center mt-3">
									<img th:if="${contact.image!='contact.png'}" style="width: 250px; height: 250px;" class="img-fluid my_profile_picture" th:src="@{'/img/'+${contact.image}}" alt="">
									<h5 th:unless="${contact.image!='contact.png'}">No Profile Image Found !!</h5>
								</div>
								
								<div class="custom-file mt-3">
									<input th:value="${contact.image}" type="file" name="profileImage"/>
								</div>
								
								<div class="container text-center mt-3">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>
								
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script src="https://cdn.tiny.cloud/1/6kzobdu7lb9eod7bg05jbazl0e7wg7q1arm2d9y2z0ua1m7o/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
			<script>
			      tinymce.init({
			        selector: '#mytextarea'
			      });
		    </script>
		</section>
	</body>
	</html>	