<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8"/>
<title>this is home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center">
		<div class="container mt-5">
		        <div class="row">
		            <div class="col-md-12 text-center">
		                <h1>About Us</h1>
		                <p class="lead">Welcome to Smart Contact Manager</p>
		            </div>
		        </div>
		
		        <div class="row mt-4">
		            <div class="col">
		                <h2>Our Mission</h2>
		                <p>Smart Contact Manager is designed to simplify your contact management process. Whether you're a professional managing business connections or an individual keeping track of personal contacts, our tool offers an intuitive and efficient solution to store, organize, and access your contact information seamlessly. Join us and experience the convenience of smart contact management.</p>
		            </div>
		        </div>
				<div class="row mt-4">
		            <div class="col-md-6">
		                <h2>Our Features</h2>
		                <ul>
		                    <li>Secure and reliable contact storage</li>
		                    <li>User-friendly interface</li>
		                    <li>Advanced search and filtering options</li>
		                    <li>Customizable contact fields</li>
		                    <li>Integration with other applications</li>
		                </ul>
		            </div>
		        </div>
	</section>
</body>
</html>